<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/contact.css'>
</head>
<body>

<%- include partials/main_nav.ejs %>


<section class="contactform mx-auto mb-10">
    <div class="title text-center mb-5">
        <h1>Contact Us</h1>
    </div>
    <form class="row g-3">
        <div class="col-md-6">
          <label for="inputFname" class="form-label">First Name</label>
          <input type="text" class="form-control" id="inputFname">
        </div>
        <div class="col-md-6">
            <label for="inputLname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="inputLname">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="col-12">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="phone" placeholder="Contact Number">
        </div>
        
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="5"></textarea>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-dark">Submit</button>
        </div>
      </form>
</section>



    


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>